@page "/Admisor/DetallesSolicitud"
  <div class="d-flex justify-content-end align-items-end">
<NavLink href="/Admisor/CreandoEstudiante">Crear</NavLink>
</div>

<div class="container mt-4">
    <div class="bg-header p-4 rounded-top d-flex justify-content-between align-items-center">
        
        <h1 class="h5 text-white font-weight-bold text-center mb-0">JUAN EMILIO MORONTA</h1>
    </div>
    <div class="bg-white p-4 rounded-bottom shadow">
        <h2 class="h4 text-primary font-weight-bold mb-4">Universidad X - Historial De Peticiones</h2>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="font-weight-bold">Tipo Identificación: *</label>
                <input type="text" value="Cedula" class="form-control bg-light" readonly />
            </div>
            <div class="col-md-6 mb-3">
                <label class="font-weight-bold">No. Identificación: *</label>
                <input type="text" value="402-1234567-8" class="form-control bg-light" readonly />
            </div>
            <div class="col-md-6 mb-3">
                <label class="font-weight-bold">Fecha Nacimiento: *</label>
                <div class="input-group">
                    <input type="text" value="03-06-1999" class="form-control bg-light" readonly />
                    <div class="input-group-append">
                        <span class="input-group-text bg-light"><i class="bi bi-calendar-event text-primary"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="font-weight-bold">Nacionalidad: *</label>
                <input type="text" value="Dominicano" class="form-control bg-light" readonly />
            </div>
            <div class="col-md-6 mb-3">
                <label class="font-weight-bold">País de Nacimiento: *</label>
                <input type="text" value="Republica Dominicana" class="form-control bg-light" readonly />
            </div>
            <div class="col-md-6 mb-3">
                <label class="font-weight-bold">Ciudad de Nacimiento: *</label>
                <input type="text" value="San Francisco de Macoris" class="form-control bg-light" readonly />
            </div>
            <div class="col-md-6 mb-3">
                <label class="font-weight-bold">Teléfono Celular: *</label>
                <input type="text" value="(849)-521-0000" class="form-control bg-light" readonly />
            </div>
            <div class="col-md-6 mb-3">
                <label class="font-weight-bold">Teléfono: *</label>
                <input type="text" value="(849)-521-0000" class="form-control bg-light" readonly />
            </div>
            <div class="col-md-6 mb-3">
                <label class="font-weight-bold">Correo Electrónico: *</label>
                <input type="text" value="JuanEmoronta@gmail.com" class="form-control bg-light" readonly />
            </div>
            <div class="col-md-6 mb-3">
                <label class="font-weight-bold">Carrera: *</label>
                <input type="text" value="Ing. Civil" class="form-control bg-light" readonly />
            </div>
            <div class="col-md-6 mb-3">
                <label class="font-weight-bold">Record de Nota:</label>
                <div class="mb-3">
                    <a href="#" class="btn btn-outline-primary btn-block">
                        DESCARGAR Record de Notas
                        <i class="bi bi-download ml-2"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="font-weight-bold">Fotografía 2x2:</label>
                <div class="mb-3">
                    <a href="#" class="btn btn-outline-primary btn-block">
                        DESCARGAR Fotografia 2X2
                        <i class="bi bi-download ml-2"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="font-weight-bold">Certificación de Bachiller oficializado por MINERD:</label>
                <a href="#" class="btn btn-outline-primary btn-block">
                    Descargar Certificado Bachiller
                    <i class="bi bi-download ml-2"></i>
                </a>
            </div>
            <div class="col-md-6 mb-3">
                <label class="font-weight-bold">Tarjeta de vacunación (Odontología o Medicina):</label>
                <a href="#" class="btn btn-outline-primary btn-block">
                    DESCARGAR La Tarjeta de vacunación
                    <i class="bi bi-download ml-2"></i>
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-success mx-2">
                <i class="bi bi-check-circle mr-2"></i> ADMITIR
            </button>
            <button class="btn btn-danger mx-2">
                <i class="bi bi-x-circle mr-2"></i> RECHAZAR
            </button>
        </div>
    </div>
</div>
