@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Ejemplos de los estilos para que los usen:</h1>


<h1 class="header-color">Encabezado Principal</h1>
<h2 class="subheader-color">Subencabezado</h2>
<p class="text-primary">Texto principal</p>
<p class="text-secondary">Texto secundario</p>
<p class="text-tertiary">Texto terciario</p>


<!-- Fondos -->
<div class="bg-header">Fondo Encabezado</div>
<div class="bg-subheader">Fondo Subencabezado</div>
<div class="bg-primary">Fondo Primario</div>
<div class="bg-secondary">Fondo Secundario</div>
<div class="bg-tertiary">Fondo Terciario</div>
<div class="bg-quaternary">Fondo Cuaternario</div>
<div class="bg-quinary">Fondo Quinario</div>
<div class="bg-senary">Fondo Senario</div>
<div class="bg-septenary">Fondo Septenario</div>

<p class="text-tertiary">Revisar la hoja de estilo Styles.css en www.root</p>