@page "/"

<PageTitle>Inicio</PageTitle>


<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="row no-gutters">
                    <div class="col-sm-6 bg-custom rounded-left">
                        <div class="card h-100 image-card" style="background-color: #03045E;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <img src="/login.png" alt="Descripción de la imagen" class="d-block mx-auto" style="width: 200px; margin-top: 20px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 rounded-right">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-center">
                                    <div class="move-down">
                                        <div class="form-group mb-3 input-space">
                                            <input type="text" class="form-control" id="usuario" placeholder="Usuario">
                                        </div>
                                        <div class="form-group mb-3 password-input">
                                            <input type="password" class="form-control" id="contrasena" placeholder="Contraseña">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center mb-3">
                                    <button type="button" class="btn btn-block btn-iniciar">Iniciar Sesión</button>
                                </div>
                                <div class="form-group text-center">
                                    <button type="button" class="btn btn-block btn-registro">Registrarse</button>
                                </div>
                                <div class="form-group text-center">
                                    <label class="mt-4">¿Olvidó su contraseña?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .btn-iniciar,
    .btn-registro {
        width: 100%;
        height: 35px;
        border-radius: 0;
        padding: 3px 10px;
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 25px;
    }

    .btn-iniciar {
        background-color: #023E8A;
        color: #fff;
        margin-bottom: 0px;
    }

    .btn-registro {
        background-color: #0077B6;
        color: #fff;
        margin-bottom: 0px;
    }

    .form-control {
        border: none;
        border-bottom: 1px solid #ced4da;
        border-radius: 0;
        padding: 0;
        background-color: transparent;
    }

    .move-down {
        margin-top: 50px;
    }

    .card {
        border: none;
    }

    .image-card {
        min-height: 60vh;
        background-color: #03045E;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .image-card .card-body {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    .input-space {
        margin-bottom: 10px;
        text-align: center;
    }

    .password-input {
        margin-bottom: 20px;
        text-align: center;
    }

    .card-body {
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>